<!DOCTYPE html>
<html lang="en-US">
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<script src="https://orteil.dashnet.org/cookieclicker/base64.js"></script>	
<script src="index.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<link rel="stylesheet" type="text/css" href="index.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<title>FtHoF Planner v2</title>
<head>
	<md-toolbar>
	    <div class="md-toolbar-tools">
			<h1>
				<span>Cookie Clicker FtHoF Planner v2</span>
			</h1>
		</div>
	</md-toolbar>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
	<div class="content">
		<div layout="row">
		<md-input-container flex>
			<label>Save Code</label>
			<input onClick="this.select();" ng-model="save_string" style="color: grey;">
		</md-input-container>
		<md-button class="md-raised md-primary" ng-click="load_game()">Import Save</md-button>
		</div>
    <h3>Best distance: {{bestDistance}}; Index: {{bestStart}}</h3>
		<p>Force the Hand of Fate is not completely random, it is based on your game's seed (which changes after each ascension) and on the number of spells cast this game. This means that if you know the seed then you can predict the results for casting Force the Hand of Fate.</p>
		<p>There are two main things that can affect the result of FtHoF, the current season and the golden cookie sound selector. If the season is Valentines or Easter the random seed will be increased once, if the golden cookie sound selector is on then the seed will also be increased. This means there are 3 possible results for each cast of FtHoF depending on the selected season or whether the golden cookie chime is on or both. Continuing to switch between seasons or turn the chime on and off will not affecting the results, they only affect the result at the time the spell is cast.</p>
		<p>Dragonflight can also affect the results of casting FtHoF. If the buff is active (not just possible) when FtHoF is cast then Click Frenzy is not added to the pool of possible results. This can change the result even if the original result was not a Click Frenzy.</p>
		<p>Another thing that after the result is how many golden cookies are already on the screen. Each one increases the chance of failure by 15%.
		</p>Since the result of FtHoF is based on the number of spells cast, if the next FtHoF cookie is not the one you want, you can cast a different spell to skip this one. This can be useful if you are searching for a particular cookie or need to skip a wrath cookie.</p>
		
		<md-divider ></md-divider>
    
    <label>Lookahead length</label>
    <input type="number" ng-model="lookahead" min=10 max=1000> 
    
    <md-divider ></md-divider>
	
    <label>Combo Size</label>
    <input type="number" ng-model="buffs_in_sequence" min=1 max=16> 

    <label>Max Spread</label>
    <input type="number" ng-model="max_spread" min=0 max=99> 

    <md-checkbox ng-checked=true ng-model="include_ef_in_sequence" aria-label="Include Elder Frenzy">
      Include Elder Frenzies
    </md-checkbox>
    
    <md-checkbox ng-checked=true ng-model="skip_abominations" aria-label="Allow Abomination Skips">
      Skip Abominations
    </md-checkbox>    
    
    <md-checkbox ng-checked=true ng-model="skip_edifices" aria-label="Allow Spontaneous Edifice Skips">
      Skip Spontaneous Edifices
    </md-checkbox>    

    
 		<md-divider ></md-divider>

    <label>Golden Cookes on screen</label>
    <input type="number" ng-model="on_screen_cookies" min=0 max=10>     
    
    <md-checkbox ng-model="dragonflight" aria-label="Dragon Flight Active">
      Dragonflight Active
    </md-checkbox>    
    

 		<md-divider ></md-divider>
    
		
		<div layout-gt-sm="row" layout="column">
			<div flex-gt-sm="15" flex>
				<md-toolbar layout="row" class="md-hue-3">
					<div class="md-toolbar-tools">
						<h1>#</h1>
					</div>
				</md-toolbar>
				<md-content>
					<md-list flex>
						<md-subheader class="md-no-sticky">Relative to now (this ascension | all time)</md-subheader>
						<md-list-item class="md-2-line" ng-repeat="cookie_list in cookies" ng-click="null">
							<div class="md-list-item-text" layout="column">
								<h3>{{"+" + ($index+1) + " (" + (spellsCastThisAscension+$index+1) + " | " + (spellsCastTotal+$index+1) + ")"}}</h3>
							</div>
						</md-list-item>
				</md-content>
			</div>
			<md-divider></md-divider>
			<div flex-gt-sm="30" flex>
				<md-toolbar layout="row" class="md-hue-3">
					<div class="md-toolbar-tools">
						<h1>No Change</h1>
					</div>
				</md-toolbar>
				<md-content>
					<md-list flex>
						<md-subheader class="md-no-sticky">Season is not Easter or Valentines and Chime is off.</md-subheader>
						<md-list-item class="md-2-line" ng-repeat="cookie_list in cookies" ng-click="null">
							<img ng-src={{cookie_list[0].wrath?"img/WrathCookie.png":"img/GoldCookie.png"}} class="md-avatar" alt="Golden Cookie" />
							<div class="md-list-item-text{{cookie_list[0].noteworthy ? ' highlight' : ''}}" layout="column">
								<h3>{{cookie_list[0].type}}</h3>
							</div>
						</md-list-item>
				</md-content>
			</div>
			<md-divider ></md-divider>
			<div flex-gt-sm="30" flex>
				<md-toolbar layout="row" class="md-hue-3">
					<div class="md-toolbar-tools">
						<h1>One Change</h1>
					</div>
				</md-toolbar>
				<md-content>
					<md-list flex>
						<md-subheader class="md-no-sticky">Season is Easter or Valentines OR Chime is on.</md-subheader>
						<md-list-item class="md-2-line" ng-repeat="cookie_list in cookies" ng-click="null">
							<img ng-src={{cookie_list[1].wrath?"img/WrathCookie.png":"img/GoldCookie.png"}} class="md-avatar" alt="Golden Cookie" />
							<div class="md-list-item-text{{cookie_list[1].noteworthy ? ' highlight' : ''}}" layout="column">
								<h3>{{cookie_list[1].type}}</h3>
							</div>
						</md-list-item>
				</md-content>
			</div>
			<md-divider ></md-divider>
			<div flex-gt-sm="30" flex>
				<md-toolbar layout="row" class="md-hue-3">
					<div class="md-toolbar-tools">
						<span>Two Changes</span>
					</div>
				</md-toolbar>
				<md-content>
					<md-list flex>
						<md-subheader class="md-no-sticky">Season is Easter or Valentines AND Chime is on.</md-subheader>
						<md-list-item class="md-2-line" ng-repeat="cookie_list in cookies" ng-click="null">
							<img ng-src={{cookie_list[2].wrath?"img/WrathCookie.png":"img/GoldCookie.png"}} class="md-avatar" alt="Golden Cookie" />
							<div class="md-list-item-text{{cookie_list[2].noteworthy ? ' highlight' : ''}}" layout="column">
								<h3>{{cookie_list[2].type}}</h3>
							</div>
						</md-list-item>
				</md-content>
      </div>
			<md-divider ></md-divider>
			<div flex-gt-sm="30" flex>
				<md-toolbar layout="row" class="md-hue-3">
					<div class="md-toolbar-tools">
						<span>Gambler's Dream</span>
					</div>
				</md-toolbar>
				<md-content>
					<md-list flex>
						<md-subheader class="md-no-sticky">Gambler's Fever Dream</md-subheader>
						<md-list-item class="md-2-line" ng-repeat="cookie_list in cookies" >
							<img ng-src={{cookie_list[3].backfire?"img/WrathCookie.png":"img/GoldCookie.png"}} class="md-avatar" alt="Golden Cookie" />
							<div class="md-list-item-text{{(cookie_list[3].hasBs || cookie_list[3].hasEf) ? ' highlight' : ''}}" layout="column">
								<h3 title="{{cookie_list[3].innerCookie1.type + '; ' + cookie_list[3].innerCookie2.type + '; ' + cookie_list[3].innerCookie3.type}}">{{cookie_list[3] ? cookie_list[3].type : "Blank"}}</h3>
							</div>
						</md-list-item>
				</md-content>
      </div>      
		</div>
		<md-button class="md-raised md-primary" ng-click="load_more()">Load More</md-button>
	</div>
	</div>
</body>
</html>

